<% if @records.count.positive? %>
<table>
  <thead>
    <tr>
      <th>Glyph</th>
      <th>Gloss</th>
      <th>Joyo</th>
      <th>JLPT</th>
      <th>Readings</th>
      <th>Meanings</th>
    </tr>
  </thead>
  <tbody>
  <% @records.each do |r| %>
    <tr>
      <td><%= r.glyph %></td>
      <td><%= r.gloss %></td>
      <td><%= JoyoLevel.name(r.joyo_level_id) %></td>
      <td><%= JlptLevel.name(r.jlpt_level_id) %></td>
      <td><%= r.readings %></td>
      <td><%= r.meanings %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
No records.
<% end %>